{% extends 'base.html' %}

{% block title %}Log-in{% endblock %}

{% block content %}
	<h1>Log-in</h1>
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again</p>
	{% else %}
		<p>Please use the following form to log-in:</p>
	{% endif %}
	<form action='{% url "account:login" %}' method='post'>
		{{ form.as_p}}
		{% csrf_token %}
		<input type="hidden" name="" value={{next}}>
		<input class="btn btn-primary" type="submit" value="Log-in" name="">
	</form>
	<br>
	<a class="btn btn-primary" href="{% url 'account:register' %}">Register</a>
	<a class="btn btn-primary" href="#">Forget password</a>
		

{% endblock %}